/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = for all mobile devices
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
       
  /* CSS */
  .container{
    width: 90%;
  }
  
  .first, .middle, .last{
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
  .navbar{
    display: none;
  }
  .top-header{
    padding: 32px 0px;
  }
  .banner-concept h1 {
       font-size: 44px;
  }
  .fitems-gallery{
    grid-template-columns: auto;
  
  }
  .f-item{
    margin-bottom: 32px;
  }
  .f-gallery{
    display: flex;
    flex-direction: column;
    
}
.item-content img{
  margin: 25px 0px;
}
.product{
  grid-template-columns: auto;
}
.poster-content{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 42px;
}
.i-company{
  width: 100%;
  display: flex;
  flex-direction: column;
  }
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*
@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}